*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1326783449/photo/dark-notebook-on-black-background.jpg?s=612x612&w=0&k=20&c=TjYXi8lIjbVo7zJ7skyXSdLsWPs_HzD48VMUKVejSi0=);
    /* background-image: url(https://media.istockphoto.com/id/1328714250/photo/two-red-clothes-pegs.jpg?s=612x612&w=0&k=20&c=SbZ6O7gA93bpTn5hq6m-gaRTz4bVkrMsUHOy4y9Kdjg=); */
    /* background-image: url(https://media.istockphoto.com/id/1393880514/photo/dark-kitchen-counter-and-everyday-utensils-on-the-counter-in-morning-sunlight-monochrome-black.jpg?s=612x612&w=0&k=20&c=UY3jXTvWzYum0TsOistMvxwMbuRbJq0lr0txFMLav-s=); */
    /* background-image: url(https://media.istockphoto.com/id/1348088387/photo/blank-black-notebook-pen-and-glasses-on-dark-background-top-view-copyspace.jpg?s=612x612&w=0&k=20&c=GeRSqkQGL--9FL5-Ll8TJLhYvTIbBbZzqN_TWIY9EtI=); */
    /* background-image: url(https://media.istockphoto.com/id/488157628/photo/mockup-of-the-book-with-a-black-cover.jpg?s=612x612&w=0&k=20&c=UgTAcjWtdikOAqXymIa2gJClBwMcoTP-3sbfwiOEaj8=); */
    /* background-image: url(https://media.istockphoto.com/id/877334172/vector/black-abstract-background.jpg?s=612x612&w=0&k=20&c=jG7ZfHdF-_j6PvJwWuqAUTmjjwBULH0F9L_ulxsMIBc=);*/
    background-size: cover;
    background-position: center;
}
nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: 0.4s;
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2) ;
}
.content{
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translateY(-10%);
}
h1{
    color: white;
    margin: 20px 0px 20px ;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 10px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 2px;
}
.About{
    width: 100%;
    padding: 100px 0px;
    background-color: #171515;

}
.About img{
    height: fit-content;
    width: 430px;
}
.about-text{
    width: 550px;
}
.submain{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;   
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.skills{
    background: #171515;
    width: 100%;
    max-height: fit-content;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    text-align: center;
    padding-top: 100px;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 150px;
    margin-top: 0%;
}
.images{
    height: 120px;
    background: #201f1f;
    border-radius: 20px;
    margin: 0px;
    position: relative;
}
.project-heading{
    background: #171515;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
}
.project-heading h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    text-align: center;   
    margin-left: 50px;
}
.project{
    background: #171515;
    width: 100%;
    padding: 10px 0px;
    display: flex;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #201f1f;
    border-radius: 20px;
    margin: 15px;
    margin-left: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;  
    flex-direction: row;
    justify-content: center; 
    align-items:  center;
}
.card-text{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
} 
.card-title{
    color: #f9004d;
    font-size: 25px;
    text-align: center;
    margin: 25px 0px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.Contact-me{
    background: #171515;
    width: 100%;
    padding: 100px 0px;
}

.Contact-me h2{
    color: white;
    font-size: 60px;
    width: 1010px;
    text-align: center; 
    margin-left: 110px;  
}

form { max-width:420px;
     margin:50px auto;
    }

.feedback-input {
    color:white;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #201f1f;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input:focus { 
    border:2px solid #f9004d; 
}
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    width: 50%;
    cursor:pointer;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-4px;
    margin-left: 100px ;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: transform .4s;
  }

  [type="submit"]:hover { 
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}